appdirs
asgiref
black
coreapi
coverage
Django
django-allauth
django-cors-headers
django-decouple
django-extensions
djangorestframework
djangorestframework-simplejwt
flake8
Pillow
psycopg2-binary
PyJWT
python3-openid
six
sqlparse
django-filter
gunicorn
whitenoise
dj-database-url

